<mat-toolbar class="toolbarNav" style="color: #FFF;background-color: #0196FA;">
  <button
    mat-flat-button
    routerLink="/home"
    routerLinkActive="active-link"
    style="color: #FFF;background-color: #0196FA;"
  >
    <mat-icon class="material-icons color_blue">home</mat-icon>
    <span>Home</span>
  </button>
  <button
    mat-flat-button
    routerLink="/my-orders"
    routerLinkActive="active-link"
    style="color: #FFF;background-color: #0196FA;"
  >
    <mat-icon class="material-icons color_blue">format_list_bulleted</mat-icon>
    <span>My Rides</span>
  </button>
  <button mat-flat-button routerLink="/my-account" routerLinkActive="active-link" style="color: #FFF;background-color: #0196FA;">
    <mat-icon class="material-icons color_blue">account_circle</mat-icon>
    <span>My Account</span>
  </button>
</mat-toolbar>
